<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Local_Noticeboard_Mvc.Sql.Properties.Settings.posts_Local_Noticeboard_MvcConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\posts-Local-Noticeboard-Mvc.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Local_Noticeboard_Mvc.Sql.Properties.Settings.aspnet_Local_Noticeboard_Mvc_20150816091549ConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Local-Noticeboard-Mvc-20150816091549.mdf;Initial Catalog=aspnet-Local-Noticeboard-Mvc-20150816091549;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>