@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Local Noticeboard</h1>
    <p class="lead">A dynamic, lightweight online noticeboard to allow communities to share information.</p>
    <p><a href="http://github.com/rphippsy/local-noticeboard-mvc" class="btn btn-primary btn-lg">View on Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work In Progress</h2>
        <p>
            This site is currently under development, so don't expect everything to work perfectly! Also,
            features may change or be removed at any time without warning or the entire database may be reset.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Built with C# &amp; MVC.NET</h2>
        <p>Originally this project was with PHP, but as the complexity increased, MVC was a much better option.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This site is currently being hosted by PhippsNET</p>
        <p><a class="btn btn-default" href="http://www.phippsnet.co">Learn more &raquo;</a></p>
    </div>
</div>